@import url("fonts.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*html{
	font-size: 16px;
}*/

a{
	outline: none;
}

body{
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	background-color: #ffea00;
	max-width: 1920px;
}

.container1{
	max-width: 1400px;
	margin: 0 auto;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.error{
  color: #ed1c24;
}

header{
	/*background-color: #fff;*/
	padding-top: 50px;
	text-align: center;
	padding-bottom: 144px;
	background-image: url('../img/header-bg.png');
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 100% 100%;
}

.header-top{
	position: relative;
	display: flex;
	justify-content: center;
}

.header-contacts{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
}

.header-contacts span{
	font-size: 24px;
}

.header-contacts a{
	font-size: 18px;
	text-decoration: none;
	color: #9f9f9f;
	font-weight: 300;
}

.header-info{
	margin-top: 75px;
}

.header-info h1{
	font-family: 'GothamPro-Bold', sans-serif;
	font-size: 58px;
}

.header-info h1:nth-child(2){
	font-family: 'GothamPro-Light', sans-serif;
}

.header-info p{
	margin-top: 44px;
	display: inline-block;
	width: 744px;
	font-size: 18px;
	font-weight: 300;
}

.header-butt a{
	display: block;
	margin-top: 70px;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	color: #9f9f9f;
	font-family: 'GothamPro-Bold', sans-serif;
}
/******************************************/
.seo-reasons{
	margin-top: 70px;
	text-align: center;
	padding-bottom: 92px;
}

.section-title{
	font-size: 48px;
	font-family: 'GothamPro-Bold', sans-serif;
}

.seo-reasons_mblock{
	margin-top: 42px;
	display: inline-flex;
	justify-content: space-between;
	/*max-width: 1150px;*/
	width: 100%;
	/*background-color: orange;*/
}

.seo-reasons_block{
	max-width: 360px;
}

.seo-reasons_block span{
	font-size: 60px;
	font-weight: 600;
}

.reason-img{
	margin-top: 30px;
	margin-bottom: 25px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 360px;
	height: 360px;
	border-radius: 50%;
}

.reason-img::after{
	content: "";
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 1.5px dashed #dadada;
	position: absolute;
}

.seo-reasons_block p{
	font-size: 20px;
}
/********************************************/

.find-out-now{
	width: 100%;
	border-top: 1px solid #e0ce00; 
	border-bottom: 1px solid #e0ce00;
	background-color: #fff;
}

.find-main{
	border-top: 1px solid #e0ce00;
	border-bottom: 1px solid #e0ce00; 
	text-align: center;
	padding-top: 110px;
	padding-bottom: 70px;
	background-image: url('../img/find-bg.png');
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: 100% 100%;
}


.find-line{
	height: 3px;
	width: 612px;
	background-color: #9f9f9f;
	display: inline-block;
	margin-top: 25px;
}

.find-main h4{
	font-size: 20px;
	font-family: 'GothamPro-Light', sans-serif;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 40px;
	display: inline-block;
}

.find-main a{
	display: block;
	max-width: 360px;
	text-transform: uppercase;
	font-size: 24px;
	text-decoration: none;
	border: 4px solid #9f9f9f;
	padding: 20px 0;
	border-radius: 30px;
	margin: 0 auto;
	color: #9f9f9f;
	font-family: 'GothamPro-Bold', sans-serif;
	height: 70px;
	box-sizing: border-box;
}
/***********************************************/

.who-uses{
	padding-top: 75px;
}

.who-uses h3{
	font-size: 32px;
	font-family: 'GothamPro-Bold', sans-serif;
	text-align: center;
}

.who-uses-block{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.who-uses-elem{
	width: 360px;
	height: 370px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #e0ce00;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	/*display: block;
	text-align: center;*/
	/*padding-top: 30px;
	padding-bottom: 25px;*/
	/*box-sizing: border-box;*/
}

.who-uses-elem img{
	margin-bottom: 20px;
}

.who-uses-elem:nth-child(2) img{
	margin-top: -15px;
}

.who-uses-elem:nth-child(2) h6{
	margin-top: -5px;
}

.who-uses-elem:nth-child(3) img{
	margin-top: -10px;
}

.who-uses-elem:nth-child(3) h6{
	margin-top: -7px;
}

.who-uses-elem h6{
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}
/************************************/
.professionals{
/*	outline: 1px solid blue;*/
	padding-top: 270px;
	padding-bottom: 114px;
	background-image: url(../img/prof-bg2.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	z-index: -1;
	margin-top: -240px;
}

.professionals-block{
	/*margin-top: 180px;*/
	/*background-color: #fff;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*margin-bottom: 114px;*/
}


.prof-link{
	font-size: 16px;
	color: #9f9f9f;
	font-family: 'GothamPro-Bold', sans-serif;
}

.professionals-block h2{
	/*outline: 1px solid red;*/
	color: #ffea00;
	font-size: 30px;
	text-align: center;
	display: inline-block;
	margin-top: 86px;
	background-image: url(../img/prof-title-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 670px;
	font-family: 'GothamPro-Bold', sans-serif;
	margin-bottom: 20px;
}

.professionals-block h3{
	font-size: 20px;
	color: #9f9f9f;
	font-weight: 400;
}

.red-arrow{
	width: 80px;
	/*height: 80px;*/
	position: relative;
	top: 100px;
	box-sizing: border-box;
	background-color: #fff;
}

.red-arr-part1{
	background-color: #ed1c24;
	height: 64px;
	width: 3px;
	margin: 0 auto;
}

.red-arr-part2{
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 3px solid #ed1c24;
	position: absolute;
	bottom: 4px;
	left: 25px;
	transform: rotate(-45deg);
	border-right: transparent;
	border-top: transparent;
}

.professionals-central{
	margin-top: 70px;
	width: 802px;
	border: 4px solid #ed1c24;
	display: flex;
	justify-content: space-around;
	padding: 86px 0 61px 0;
	margin-bottom: 60px;
	/*background-color: orange;*/
}

.professionals-central ul{
	list-style-type: none;
}

.professionals-central ul li{
	margin-bottom: 25px;
	/*position: relative;*/
}

/*.professionals-central li::before{
	content: "";
	display: block;
	width: 1px;
	height: 30px;
	background-color: #ee2c34;
	position: absolute;
	left: -20px;
	bottom: 0px;
}*/

.professionals-block h4{
	font-size: 42px;
	font-family: 'GothamPro-Bold', sans-serif;
	text-align: center;
}

.arrow{
	position: relative;
}

.arr-part1{
	width: 3px;
	height: 64px;
	background-color: #000;
	display: block;
	margin: 20px 0 0 0;
}

.arr-part2{
	width: 30px;
	height: 30px;
	border: 3px solid #000;
	transform: rotate(-45deg);
	position: absolute;
	bottom: 3px;
	left: -14px;
	border-top: transparent;
	border-right: transparent;
}

.professionals-block span{
	margin-top: 40px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'GothamPro-Bold', sans-serif;
}

/**********************************************/
.our-offers{
	padding-top: 50px;
	padding-bottom: 108px;
}

.our-offers  h2{
	font-size: 42px;
	font-family: 'GothamPro-Bold', sans-serif;
	text-align: center;
}

.our-offers  p{
	font-size: 40px;
	font-family: 'GothamPro-Light', sans-serif;
/*	text-align: justify;*/
}

.our-offers span{
	font-family: 'GothamPro-Bold', sans-serif;
}

.our-offers-block{
	display: flex;
	justify-content: space-between;
	padding-top: 75px;
	padding-bottom: 50px;
}

.our-offers-elem{
	width: 262px;
	height: 262px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.our-offers-elem div{
/*	background-color: pink;*/
	width: 192px;
	height: 192px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	padding: 10px;
	border: 1.5px dashed #dadada;
}

.our-offers-elem img{
	position: absolute;
	left: -53px;
}

.our-offers-elem h5{
	font-size: 20px;
	text-align: center;
}

.our-offers-elem h6{
	font-size: 12px;
	text-align: center;
	margin-top: 25px;
}

.our-offers-elem:nth-child(1) div{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*padding: 10px;*/
}
/***************************************/
.price{
	padding-top: 80px;
	background-color: #f5f3e7;
}

.price h2{
	font-family: 'GothamPro-Bold', sans-serif;
	font-size: 42px;
	text-align: center;
}

.price span{
	font-size: 30px;
	font-family: 'GothamPro-Light', sans-serif;
}

.price-block{
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.price-elem{
	width: 360px;
	border: 1px solid #d7d6cb;
/*	height: 100px;*/
	background-color: #fff;
	padding-bottom: 50px;
}

.price-elem-head{
	display: flex;
	width: 100%;
	height: 126px;
	box-sizing: border-box;
	background-color: #ffea00;
	justify-content: center;
	align-items: center;
}

.price-elem-head h3{
	font-size: 80px;
	font-family: 'TTWallsRoughBold', sans-serif;
}

.price-elem-unhead{
	background-color: #f5f3e7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
	box-sizing: border-box;
}

.price-elem-unhead span:nth-child(1){
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	margin-right: 13px;
}

.price-elem-unhead span:nth-child(2){
	font-size: 42px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.price-elem-unhead span:nth-child(3){
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	margin-left: 13px;
}

.price-elem-main{
	background-color: #fff;
	/*display: flex;*/
	padding-left: 40px;
	padding-top: 34px;
	/*padding-bottom: 50px;*/
}

.price-elem-main span{
	font-weight: 600;
	color: #9f9f9f;
	font-size: 20px;
	margin-bottom: 34px;
	display: block;
	font-family: 'Roboto', sans-serif;
}

.price-elem-main ul{
	padding-left: 10px;
	padding-right: 25px;
	margin-bottom: 64px;
}

.price-elem-main ul li{
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
}

.price-elem-main ul li:last-child{
	margin-bottom: 0;
}

.price-elem-main span:nth-child(3){
	margin-bottom: 0;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.price-elem-main span:nth-child(3)::before{
	content: "";
	display: block;
	height: 3px;
	width: 262px;
	background-color: #9f9f9f;
	position: absolute;
	top: 12px;
	right: 0;
}

.price-elem-main span:nth-child(3)::after{
	content: "";
	display: block;
	height: 3px;
	width: 10px;
	background-color: #9f9f9f;
	position: absolute;
	bottom: -28px;
	left: -10px;
	transform: rotate(45deg); 
}

.price-elem-main span:nth-child(4){
/*	outline: 1px solid red;*/
	display: inline-block;
	font-size: 18px;
	color: black;
	margin-top: 20px;
	margin-bottom: 84px;
	position: relative;
	margin-left: 18px;
	font-family: 'Roboto', sans-serif;
}

.price-elem-main span:nth-child(4)::before{
	content: "";
	display: block;
	height: 3px;
	width: 40px;
	background-color: #9f9f9f;
	position: absolute;
	top: 9px;
	left: -58px;
}

.price-elem-main span:nth-child(4)::after{
	content: "";
	display: block;
	height: 3px;
	width: 10px;
	background-color: #9f9f9f;
	position: absolute;
	left: -28px;
	top: 13px;
	transform: rotate(-45deg); 
}

.price-elem a{
	display: block;
	height: 70px;
	width: 300px;
	background-color: #ffea00;
	font-size: 24px;
	font-family: 'GothamPro-Bold', sans-serif;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	padding-top: 25px;
	border-radius: 35px;
	margin: 0 auto;
}

.price-elem:nth-child(2) .price-elem-main ul{
	margin-bottom: 80px;
}

.price-elem:nth-child(2) .price-elem-main span:nth-child(4){
	margin-bottom: 15px;
}

.price-elem:nth-child(2) .price-elem-main span:nth-child(5){
	font-size: 18px;
	color: black;
	margin-left: 18px;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}

.price-elem:nth-child(3) .price-elem-main span:nth-child(4){
	margin-bottom: 15px;
}

.price-elem:nth-child(3) .price-elem-main span:nth-child(5){
	font-size: 18px;
	color: black;
	margin-left: 18px;
	margin-bottom: 50px;
	font-family: 'Roboto', sans-serif;
}


.price-elem:nth-child(3) .price-elem-main ul{
	margin-bottom: 20px;
}

/****************************************************/


.question{
	background-color: #f5f3e7;
	padding-bottom: 210px;
	z-index: -2;
	margin-top: -85px;
}

.question-block{
	background-color: #faf9f3;
	height: 1400px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.question-block-in{
	background-color: #ffffff;
	border-radius: 50%;
	height: 1170px;
	width: 1140px;
	padding-top: 100px;
	text-align: center;
	/*background-color: orange;*/
}

.question-block-in img{
	margin-bottom: 70px;
}

.question-block-in h2{
	font-size: 42px;
	font-family: 'GothamPro-Bold', sans-serif;
	margin-bottom: 30px;
}

.question-block-in h4{
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #9f9f9f;
	margin-bottom: 100px;
}

.question-form{
	/*background-color: lightgreen;*/
	margin-top: 100px;
	max-width: 584px;
	margin: 0 auto;
}

.question-form input{
	width: 100%;
	padding: 20px 0;
	border: none;
	border-bottom: 1px solid #9f9f9f;
	text-align: center;
	outline: none;
	font-size: 18px;
	color: #9f9f9f;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

input::placeholder{
	font-size: 18px;
	color: #9f9f9f;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

textarea{
	width: 100%;
	height: 140px;
	outline: none;
	border: none;
	border-bottom: 1px solid #9f9f9f;
	text-align: center;
	padding: 26px 0;
	font-size: 18px;
	color: #9f9f9f;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	margin-bottom: 50px;
}

textarea::placeholder{
	font-size: 18px;
	color: #9f9f9f;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

label{
	/*outline: 1px solid blue;*/
	color: #9f9f9f;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	position: relative;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}


input[type="checkbox"]{
	/*outline: 1px solid red;*/
	width: 20px;
	height: 20px;
	margin-right: 25px;
	/*z-index: -3;*/
}

.checkbox{
	border: 2px solid #9f9f9f;
}

.checkbox::before{
	content: "";
	display: block;
	width: 20px;          
	height: 20px;
	border: 2px solid #9f9f9f;
	box-sizing: border-box;
}
/*.checkbox-custom {
	position: relative;
	left: -45px;    
	width: 20px;          
	height: 20px;            
	border: 2px solid #9f9f9f;*/
	/*z-index: -3;*/
/*	margin-right: 25px;*/


/*.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
*/
/*.checkbox:checked + .checkbox-custom::before {
	content: "";          
	display: block;			 
	position: absolute;      
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #9f9f9f;     
	border-radius: 2px;
}*/

.question-form p:nth-child(6) label.error{
	position: absolute;
	bottom: -20px;
}

.question-form p:nth-child(6){
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	position: relative;
}

input[type="submit"]{
	height: 70px;
	width: 300px;
	font-size: 24px;
	font-family: 'GothamPro-Bold', sans-serif;
	font-style: normal;
	color: #9f9f9f;
	background-color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-radius: 35px;
	margin-top: 40px;
	border: 0;
	border: 4px solid #9f9f9f;
	cursor: pointer;
}
/***********************************/

.about{
	background-color: #f5f3e7;
}

.about-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-block h2{
	font-size: 42px;
	font-family: 'GothamPro-Bold', sans-serif;
	text-align: center;
}

.about-block span{
	font-size: 72px;
	font-family: 'GothamPro-Light', sans-serif;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 60px;
}

.about-block p{
	font-family: 'GothamPro-Light', sans-serif;
	font-size: 20px;
	margin: 0 60px;
	text-align: center;
}

.about-info{
	display: flex;
	margin-top: 90px;
	padding: 0 60px 90px 60px;
	justify-content: space-between;
}

.about-info-elem ul{
	list-style-type: none;
}

.about-info-elem ul li{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
}

.about-info-elem ul li:first-child{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}
/************************************/
footer{
	background-color: #000;
	height: 90px;
}

.footer-block{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90px;
	/*margin-left: -40px;*/
	padding: 0 60px;
}

.footer-block span{
	font-size: 20px;
}

.footer-block address{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-left: 50px;
}

.footer-block a{
	font-size: 16px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	justify-content: left;
	margin-right: 90px;
	text-decoration: none;
}


/*****************************MEDIA*****************/

@media only screen and (max-width: 1280px) {
	/*.wrapper{
		background-color: red;
	}*/

	/*.question-form{
		max-width: 584px;
	}*/
}


@media only screen and (max-width: 768px) {
	/*.wrapper{
		background-color: green;
	}*/

	header{
		/*padding-top: 50px;
		text-align: center;
		padding-bottom: 144px;*/
		background-image: url('../img/header-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
	}

	.header-info p{
		/*margin-top: 44px;
		display: inline-block;*/
		width: 100%;
		/*font-size: 18px;
		font-weight: 300;*/
	}

	.find-line{
		width: 100%;
	}
	.seo-reasons_mblock{
	/*	background-color: #000;*/
		flex-direction: column;
		align-items: center;
	}

	.who-uses-block{
		/*display: flex;*/
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
	}
	
	.who-uses-elem{
		margin-bottom: 20px;
	}

	.who-uses-elem:last-child{
		margin-bottom: 0;
	}

	.professionals-block h2{
		width: 100%;
		background-size: 100%;
		background-position: center;
	}

	.professionals-central{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.our-offers-block{
		flex-direction: column;
		align-items: center;
	}

	.our-offers-elem{
		margin-bottom: 30px;
	}

	.our-offers-elem:nth-child(4){
		margin-bottom: 0;
	}

	.our-offers-elem img{
		left: 38%;
		top: -35px;
		transform: rotate(90deg);
	}

	.our-offers p{
		text-align: justify;
	}

	.price-block{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.price-elem{
		margin-bottom: 30px;
	}

	.price-elem:nth-child(3){
		margin-bottom: 0;
	}

	.question-block{
		border-radius: 0;
	}

	.question-block-in{
		border-radius: 0;
	}

	.about-info{
		flex-direction: column;
		align-items: center;
		/*padding: 0;*/
	}

	.about-info-elem{
		margin-bottom: 30px;
	}

	.about-info-elem ul li{
		text-align: center;
	}

	.footer-block{
		flex-direction: column;
		align-items: center;
		/*padding: 20px 0;*/
	}

	.footer-block span, .footer-block address, .footer-block a{
		margin: 0;
	}
}

@media only screen and (max-width: 430px){
	.header-info h1{
		font-size: 38px;
	}

	.section-title{
		font-size: 38px;
	}
}

@media only screen and (max-width: 400px){
	.header-info h1{
		font-size: 38px;
	}

	/*.find-main h2{
		font-size: 24px;
	}*/

	.section-title{
		font-size: 38px;
	}

	.seo-reasons_block{
		max-width: 180px;
		height: 360px;
		margin-bottom: 20px;
	}

	.seo-reasons_block:last-child{
		margin-bottom: 0;
	}

	.seo-reasons_block span{
		font-size: 48px;
	}

	.seo-reasons_block p{
		font-size: 16px;
	}

	.reason-img{
		max-width: 180px;
		height: 180px;
		/*width: 100%;*/
	}

	.reason-img img{
		/*outline: 1px solid red;*/
		max-width: 95px;
		height: 95px;
	
	}

	.reason-img::after{
		max-width: 150px;
		height: 150px;
	}

	.who-uses-elem{
		width: 100%;
	}


	/*.seo-reasons_block{
		width: 100%;
	}*/
}


